.idea/
.vscode/*
!.vscode/tasks.json
.DS_Store
.clj-kondo/
.lsp/

.venv/
.env

/ui-react/

__pycache__/
*.pyc
.mypy_cache/

.angular/
package-lock.json
node_modules/
web/public/

/static/
/static/img/
/static/temp_img/
